.text-center
  = image_tag @article.image.url(:medium)
  = render 'articles/form_html'
  .text-center.edit-links
    = link_to "Delete Article", article_path(@article), method: :delete, data: { confirm: "Are you sure you want to delete this article?" }
    |
    = link_to "cancel", articles_path