= render 'article', article: @article
- if @article.user.id == current_user.id
  .text-center.edit-links
    = link_to "Cancel", articles_path
    |
    = link_to "Edit Article", edit_article_path(@article)
- else
  .text-center.edit-links
    =link_to "Cancel", articles_path