.articles-wrapper.row
  .article
    .article-head
      .name
        Sonu Kumar
      .image.center-block
        =image_tag @article.image.url(:medium)
      %p.caption
        =@article.caption
      .text-center.edit-links
        = link_to "Cancel", articles_path
        |
        = link_to "Edit Article", edit_article_path(@article)